.dashboard-header {
  margin-bottom: 30px;
  border-bottom: solid 1px lightgray;
}

.dashboard-header > a {
  color: #50808e;
}

.dashboard-header > a:hover {
  color: #50808e;
}

.nav-open .main-panel {
  right: 0;
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

.container,
.dashboard-header {
  margin: 0 !important;
}
