.dashboard-header {
  margin-bottom: 30px;
  border-bottom: solid 1px lightgray;
}

.dashboard-header > a {
  color: #50808e;
}

.dashboard-header > a:hover {
  color: #50808e;
}

.nav-open .main-panel {
}
.header-icon .nav-link {
  display: inline-block;
  padding: 0;
}
.navbar-toggler {
  display: inline-block;
}

.dashboard-header {
  margin: 0 !important;
}

@media screen and (min-width: 991px) {
  .navbar-toggler {
    display: inline-block;
  }
  .nav-open .main-panel {
    width: 100%;
  }
}
.header-icon {
  display: block;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
}
.dashboard-title {
  color: #343a40;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
