.navbar {
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 0;
  transition: top 0.1s;
  background-color: #50808e;
  z-index: 1000;
}

.navbar-top {
  background-color: transparent;
  top: 30px;
}

.navbar * {
  color: white;
}

.navbar-top * {
  color: #50808e;
}

nav.navbar-dashboard {
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 0;
  transition: top 0.1s;
  background-color: #50808e;
  z-index: 1000;
}

nav.navbar-dashboard-top {
  background-color: #50808e;
}

nav.navbar-dashboard * {
  color: white;
}

nav.navbar-dashboard-top * {
  color: white;
}

.dashboard-header {
  height: 5%;
}
